/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
  background-color: #111;
  color: #fff;
}

.page-wrapper {
  max-width: 1500px;   
  margin: 0 auto;      
  padding-left: 50px;
  padding-right: 50px;
}

/* Top Bar */
.top-bar {
  background: #6b5a00;
  color: #fff;
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.top-bar nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

/* Header */
.main-header {
  background: #000;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #ff4b4b;
}

.main-nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.search-box {
  padding: 6px 10px;
  border-radius: 20px;
  border: none;
}

/* Hero Section */
.hero {
  display: flex;
  padding: 15px 40px 10px 40px;
  background: #2e3f8f;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-text p {
  max-width: 500px;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 12px 20px;
  border: none;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  border-radius: 5px;
}

/* Featured Section */
.featured {
  gap: 20px;
  padding: 40px;
  text-align: center;
}

.featured h2 {
  margin-bottom: 25px;
}

.featured-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #000;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  max-width: 315px;
  min-height: 250px;
}

.card img {
  width: 100%;
  
  max-height: 230px;
  min-height: 230px;
}

.card h3 {
  padding: 10px;
}

/* Categories */
.categories {
  padding: 40px;
  text-align: center;
}

.categories h2 {
  margin-bottom: 25px;
}

.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category {
  background: #5a4b00;
  padding: 20px 30px;
  min-width: 175px;
  font-weight: bold;
  position: relative; 
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category img {
  max-height: 60px;
}

.category-text {
  position: absolute;
  padding-top: 25px;
  bottom: 10px;          
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #fff;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:hover {
  background: #6b5a00;
  transform: translateY(-5px);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;              
  color: #fff;
  font-size: 24px;
  margin: 40px 0;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;                
  height: 1px;            
  background-color: #444; 
}

a, a:visited, a:hover, a:active {
  text-decoration: none; 
  color: inherit;        
}
